<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Document meta -->
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Document title -->
	<title>Docking Result</title>	

	<!-- External CSS -->
	<link rel="stylesheet" type="text/css" href="../static/css/google-style-1.css" media="all">

	<link rel="stylesheet" type="text/css" href="../static/css/minify.css" media="all">
	
	<link rel="stylesheet" type="text/css" href="../static/css/font-awesome.min.css">

	<link rel="stylesheet" type="text/css" href="../static/css/global_style.css">

	<link href="styles/smart_wizard_vertical.css" rel="stylesheet" type="text/css">

	
		

</head>

<body class="page page-id-1027 page-template-default">

	<!-- 导航栏 -->
	<header class="banner navbar navbar-default navbar-static-top" role="banner">
		<div class="container">
			<div class="navbar-header"> 
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
					<span class="sr-only">Toggle navigation</span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
					<span class="icon-bar"></span> 
				</button>
				<div id="logo"> 
					<a href="#"> <img class="logo-main logo-reg" src="../static/images/logo2.png" alt="TCMAnalyzer"> </a>
				</div>
			</div>
			<nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
				<ul id="menu-primary-navigation" class="nav navbar-nav">
					<li class="menu-home">
						<a href="index.html">Home</a>
					</li>
					<li class="menu-features">
						<a href="analyze.html">Analyze</a>
					</li>
					<li class="active menu-reviews">
						<a href="myData.html">My Data</a>
					</li>
					<li class="menu-help-center">
						<a href="news.html">News</a>
					</li>
					<li class="menu-help-center">
						<a href="#">Help</a>
					</li>
				</ul> 
			</nav>
		</div>
	</header>

	<div class="wrap" role="document">
		<div class="container">
			<!-- <div class="row">
				<h2> Screening Result</h2>
				<button class="btn btn-default">Return</button>				
			</div> -->
			<div class="row HolyGrail-body">
				<nav class="HolyGrail-nav">
					<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		                <div class="panel panel-default">
		                    <div class="panel-heading" role="tab" id="headingOne">
		                        <h4 class="panel-title">
		                            <a class="collapsed" role="button" data-toggle="collapse"
		                                data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
		                                Section 1
		                            </a>
		                        </h4>
		                    </div>
		                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		                        <div class="panel-body">
		                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue erat in luctus pretium. Praesent suscipit tempor consequat. Nam ac enim sit amet justo ultricies condimentum. Ut condimentum, risus at hendrerit ultricies, arcu diam lobortis metus, eu aliquam quam metus ut enim. Aliquam at mi quis tortor semper laoreet ut.
		                        </div>
		                    </div>
		                </div>
		                <div class="panel panel-default">
		                    <div class="panel-heading" role="tab" id="headingTwo">
		                        <h4 class="panel-title">
		                            <a class="collapsed" role="button" data-toggle="collapse"
		                                data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
		                                Section 2
		                            </a>
		                        </h4>
		                    </div>
		                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
		                        <div class="panel-body">
		                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue erat in luctus pretium. Praesent suscipit tempor consequat. Nam ac enim sit amet justo ultricies condimentum. Ut condimentum, risus at hendrerit ultricies, arcu diam lobortis metus, eu aliquam quam metus ut enim. Aliquam at mi quis tortor semper laoreet ut.
		                        </div>
		                    </div>
		                </div>
		                <div class="panel panel-default">
		                    <div class="panel-heading" role="tab" id="headingThree">
		                        <h4 class="panel-title">
		                            <a class="collapsed" role="button" data-toggle="collapse"
		                                data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
		                                Section 3
		                            </a>
		                        </h4>
		                    </div>
		                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
		                        <div class="panel-body">
		                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue erat in luctus pretium. Praesent suscipit tempor consequat. Nam ac enim sit amet justo ultricies condimentum. Ut condimentum, risus at hendrerit ultricies, arcu diam lobortis metus, eu aliquam quam metus ut enim. Aliquam at mi quis tortor semper laoreet ut.
		                        </div>
		                    </div>
		                </div>
		                <div class="panel panel-default">
		                    <div class="panel-heading" role="tab" id="headingFour">
		                        <h4 class="panel-title">
		                            <a class="collapsed" role="button" data-toggle="collapse"
		                                data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
		                                Section 3
		                            </a>
		                        </h4>
		                    </div>
		                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
		                        <div class="panel-body">
		                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue erat in luctus pretium. Praesent suscipit tempor consequat. Nam ac enim sit amet justo ultricies condimentum. Ut condimentum, risus at hendrerit ultricies, arcu diam lobortis metus, eu aliquam quam metus ut enim. Aliquam at mi quis tortor semper laoreet ut.
		                        </div>
		                    </div>
		                </div>
		                <div class="panel panel-default">
		                    <div class="panel-heading" role="tab" id="headingFive">
		                        <h4 class="panel-title">
		                            <a class="collapsed" role="button" data-toggle="collapse"
		                                data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
		                                Section 3
		                            </a>
		                        </h4>
		                    </div>
		                    <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
		                        <div class="panel-body">
		                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue erat in luctus pretium. Praesent suscipit tempor consequat. Nam ac enim sit amet justo ultricies condimentum. Ut condimentum, risus at hendrerit ultricies, arcu diam lobortis metus, eu aliquam quam metus ut enim. Aliquam at mi quis tortor semper laoreet ut.
		                        </div>
		                    </div>
		                </div>
	            	</div>
				</nav>

			    <main class="HolyGrail-content">
			    	<div style="text-align:center;">
			    		<img src="../static/img/3dMol-1.png">
			    	</div>
			    	<div style="text-align:center;">
			    		<img src="../static/img/3dMol-2.png">
			    	</div>
			    </main>			    
			    
			    <aside class="HolyGrail-ads">
			    	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		                <div class="panel panel-default">
		                    <div class="panel-heading" role="tab" id="headingSixSevenEight">
		                        <h4 class="panel-title">
		                            <a class="collapsed" role="button" data-toggle="collapse"
		                                data-parent="#accordion" href="#collapseSixSevenEight" aria-expanded="false" aria-controls="collapseSixSevenEight">
		                                Section 6
		                            </a>
		                        </h4>
		                    </div>
		                    <div id="collapseSixSevenEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSixSevenEight">
		                        <div class="panel-body">
		                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue erat in luctus pretium. Praesent suscipit tempor consequat. Nam ac enim sit amet justo ultricies condimentum. Ut condimentum, risus at hendrerit ultricies, arcu diam lobortis metus, eu aliquam quam metus ut enim. Aliquam at mi quis tortor semper laoreet ut.
		                        </div>
		                    </div>
		                </div>
		                <div class="panel panel-default">
		                    <div class="panel-heading" role="tab" id="headingSevenEight">
		                        <h4 class="panel-title">
		                            <a class="collapsed" role="button" data-toggle="collapse"
		                                data-parent="#accordion" href="#collapseSevenEight" aria-expanded="false" aria-controls="collapseSevenEight">
		                                Section 7
		                            </a>
		                        </h4>
		                    </div>
		                    <div id="collapseSevenEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSevenEight">
		                        <div class="panel-body">
		                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue erat in luctus pretium. Praesent suscipit tempor consequat. Nam ac enim sit amet justo ultricies condimentum. Ut condimentum, risus at hendrerit ultricies, arcu diam lobortis metus, eu aliquam quam metus ut enim. Aliquam at mi quis tortor semper laoreet ut.
		                        </div>
		                    </div>
		                </div>
		                <div class="panel panel-default">
		                    <div class="panel-heading" role="tab" id="headingEight">
		                        <h4 class="panel-title">
		                            <a class="collapsed" role="button" data-toggle="collapse"
		                                data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
		                                Section 8
		                            </a>
		                        </h4>
		                    </div>
		                    <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
		                        <div class="panel-body">
		                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue erat in luctus pretium. Praesent suscipit tempor consequat. Nam ac enim sit amet justo ultricies condimentum. Ut condimentum, risus at hendrerit ultricies, arcu diam lobortis metus, eu aliquam quam metus ut enim. Aliquam at mi quis tortor semper laoreet ut.
		                        </div>
		                    </div>
		                </div>
		                <div class="panel panel-default">
		                    <div class="panel-heading" role="tab" id="headingNine">
		                        <h4 class="panel-title">
		                            <a class="collapsed" role="button" data-toggle="collapse"
		                                data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
		                                Section 9
		                            </a>
		                        </h4>
		                    </div>
		                    <div id="collapseNine" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingNine">
		                        <div class="panel-body">
		                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue erat in luctus pretium. Praesent suscipit tempor consequat. Nam ac enim sit amet justo ultricies condimentum. Ut condimentum, risus at hendrerit ultricies, arcu diam lobortis metus, eu aliquam quam metus ut enim. Aliquam at mi quis tortor semper laoreet ut.
		                        </div>
		                    </div>
		                </div>
		                <div class="panel panel-default">
		                    <div class="panel-heading" role="tab" id="headingTen">
		                        <h4 class="panel-title">
		                            <a class="collapsed" role="button" data-toggle="collapse"
		                                data-parent="#accordion" href="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
		                                Section 10
		                            </a>
		                        </h4>
		                    </div>
		                    <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
		                        <div class="panel-body">
		                           Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean congue erat in luctus pretium. Praesent suscipit tempor consequat. Nam ac enim sit amet justo ultricies condimentum. Ut condimentum, risus at hendrerit ultricies, arcu diam lobortis metus, eu aliquam quam metus ut enim. Aliquam at mi quis tortor semper laoreet ut.
		                        </div>
		                    </div>
		                </div>
	            	</div>
			    </aside>
			</div>			
		</div>
	</div>
	
	<div class="prefooter"></div>
	<footer class="footer" role="contentinfo">
		<div class="container">
			<div class="footer-widgets row">
				<div class="footer-area-1 col-md-3 col-sm-6"> 
					<section class="widget text-6 widget_text">
						<div class="widget-inner">
							<h3 class="widget-title">About TCM Analysis</h3>
							<div class="textwidget">TCM Analysis is a clipboard management software for Windows. It saves any type of information that can be copied to clipboard such as images, texts and links, so you can view it, edit it and organize it as per your preferences.</div>
						</div>
					</section>
				</div>
				<div class="footer-area-2 col-md-3 col-sm-6"> 
					<section class="widget text_icl-4 widget_text_icl">
						<div class="widget-inner">
							<h3 class="widget-title">Support</h3>
							<div class="textwidget">
								<a href="https://clipclip.helprace.com/add-ticket">Contact Us</a><br> 
								<a href="/faq">FAQ</a><br> 
								<a href="/change-log" target="">Change Log</a>
							</div>
						</div>
					</section>
				</div>
				<div class="footer-area-3 col-md-3 col-sm-6"> 
					<section class="widget text_icl-5 widget_text_icl">
						<div class="widget-inner">
							<h3 class="widget-title">Legal</h3>
							<div class="textwidget">
								<p>
									<a href="/eula">EULA</a><br> 
									<a href="/privacy-policy">Privacy Policy</a>
								</p>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>
		<div class="footer-btm-bar">
			<div class="container">
				<div class="footer-copyright row">
					<div class="col-xs-12">
						<p>
							<span class="footer_copy">&nbsp;© 2016 <a target="_blank" href="http://www.rcdd.org.cn/">RCDD</a></span>
						</p>
					</div>
				</div>
			</div>
		</div> 
	</footer>
	<!-- for global JS -->
	<script type="text/javascript" src="../static/js/jquery-2.2.3.min.js"></script>
	<script type="text/javascript" src="../static/js/bootstrap-3.3.5.min.js"></script>
	<!-- for Json -->
	<script type="text/javascript" src="../static/js/json.js"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			marvinInitial();
	</script>

</body>
</html>